*{
    box-sizing: border-box;
}

body{
    background-color: rgb(172, 137, 137);
    font-family: 'muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.key{
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 1px 1px 3px gray;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    flex-direction:column ;
    margin: 10px;
    font-weight: bold;
    min-width: 150px;
    position: relative;
}

.key small{
    position: absolute;
    top: -24px;
    left: 0;
    text-align: center;
    width: 100%;
    color: rgb(129, 109, 109);
    font-size: 14px;
}